body{
    margin: 0;
    padding: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

/* center the app container */
.parent-container{
    display: flex;
    justify-content: center;
}
.container-qc{
    min-width: 450px; 
    max-width: 1440px;
    width : 100%
}
.container-qc>div{
    margin-bottom: 20px;
}
.check-block-title{
    margin: 20px 0px;
}
.container-prj-selector{
    max-width: 850px;
}

h1{
    color: #10698d;
    font-family: "IMTITLE", Sans-serif;
    font-size: 30px;
    line-height: 1.3em;
}

h2{
    color: #333;
    font-family: "IMTITLE", Sans-serif;
    font-size: 20px;
    line-height: 1.3em;
    margin: 20px 0px 5px 0px;
    font-weight: 200;
}

h3{
    color: #5cc0cd;
    font-family: "IMTITLE", Sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    /* line-height: 1.3em; */
    margin: 0px;
}

.label{
    color: #10698d;
    font-family: "IMTITLE", Sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    /* line-height: 1.3em; */
    margin: 10px 0px 0px 0px;
}
h5{
    color: #333;
    font-family: "IMTITLE", Sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0px; 
}

.inline{
    display: inline-block;
}

p{
    color: #9b9b9b;
    font-family: "IMTITLE", Sans-serif;
    font-size: 14px;
    font-style: bold;
    margin: 0px 0px 5px 0px; 
}

button{
    padding: 6px 12px;
    margin : 20px 0px 20px 0px;
    font-size: 14px;
    color: #fff;
    line-height: 1.42857143;
    width : 140px;

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    font-family: "IMTITLE", Sans-serif;
    background: #10698d;

    border: #10698d 1px solid;
    border-radius: 4px;
}


/**********DETAILS PANEL**********/
.QC-types{
    margin-left: 0px; /* 25px? JCE #TODO */
}
.checks-block{
    padding: 10px 10px;
    max-width: 50%;
    text-align: justify;
}

.sub-block{
    padding: 10px 10px;
}

.details{
    padding: 0px 10px;
}

.results{
    padding: 10px;
}

/**********SEPARATOR**********/
.elementor-divider-separator{
    border-top: 3px solid #5cc0cd;
    width: 118px;
    height: 1px;
    display: block;
    margin-top: 20px;
}

/**********DROPDOWN**********/
.Select--multi .Select-value{ 
    color:#333 !important;
    background-color: #efefef !important;
    border-color:#efefef !important;
}

.is-focused:not(.is-open)>.Select-control{
    border-color:#10698d !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px #106a8d21 !important;
}

.VirtualizedSelectFocusedOption {
    background-color: #efefef !important;
}

/**********RUN IMG**********/
.runQC-btn{
    /* width: 20px;
    height: auto; */
    height: 19px;
    cursor: pointer;
    margin: 0px 10px;
}

/**********TAB**********/

.custom-tabs-container {
    width: 100%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #fff;
    padding: 0px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fff;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px lightgrey;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #5cc0cd !important;
}

.tab-div-common{
    border-bottom: lightgrey solid 1px;
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
    min-height: 100px;
    border-radius: 4px;
}

.project-sep{
    text-align: center;
    font-size: 18px;
    /* choix 1 et 2 : */
    /* color : #123249;
    border-bottom: 1px solid #123249; */
    /* choix 1/2 ou3 :  */
    color : #5cc0cd;
    border-bottom: 1px solid #5cc0cd;
    /* choix 3 */
    margin-left: -15px;
    margin-right: -15px;
}
.result-project-title{
    /*choix 1: */
    /* background-color: #eeeeee; */     
    /*choix 2: */
    /* background-color: #fafafa; */
    /*choix 3: */
    background-color: white;       
    padding : 10px;
    /* choix 1 et 2 */
    /* margin-bottom: 40px; */
    /* choix 3 */
    margin-bottom: 20px;
}
/**********DATA TABLE**********/
.sub-block-div{
    margin-bottom: 10px;
}
/***********LOADER************/
.loader{
    align-self: flex-start;
    animation: fadeIn 2s;
    margin-top: 5px;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
.tabs-content{
    height:100%;
    transition: all 10ms linear;
    transition-delay: 250ms;
}
.tabs-content[data-dash-is-loading="true"]{
    height: 50px;    
}

